#![enable(implicit_some)]
(
    modkey: "Mod1",
    tags: [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", ],
    layouts: [ MainAndVertStack, Monocle, ],
    window_rules: [
        ( window_class: "experience", spawn_on_tag: 1 ),
        ( window_class: "crx_faahbbonfpopldigjbkfifiiapkloldd", spawn_on_tag: 2, spawn_floating: true ),
        ( window_class: "chromium-browser", spawn_on_tag: 2 ),
        ( window_class: "monitor", spawn_on_tag: 10 ),
    ],
    single_window_border: false,
    keybind: [
        (command: Execute, value: "alacritty", modifier: ["modkey", "Control"], key: "r"),
        (command: Execute, value: "chromium", modifier: ["modkey", "Control"], key: "t"),
        (command: CloseWindow, value: "", modifier: ["modkey", "Control"], key: "q"),
        (command: SoftReload, value: "", modifier: ["modkey", "Control"], key: "x"),
        (command: FocusWindowUp, value: "", modifier: ["modkey", "Control"], key: "s"),
        (command: FocusWindowDown, value: "", modifier: ["modkey", "Control"], key: "f"),
        (command: SwapWindowTop, value: "", modifier: ["modkey", "Control"], key: "e"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "o"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "u"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey", "Control"], key: "c"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey", "Control"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey", "Control"], key: "j"),
        (command: FocusNextTag, value: "", modifier: ["modkey", "Control"], key: "y"),
        (command: FocusPreviousTag, value: "", modifier: ["modkey", "Control"], key: "h"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: GotoTag, value: "10", modifier: ["modkey"], key: "0"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: MoveToTag, value: "10", modifier: ["modkey", "Shift"], key: "0"),
    ],
)
